body {
   background-color: #8fce7c;
   margin:0;
 }


canvas {
    border: solid black 2px;
    margin: 20px;
    
}

#wrapperDiv{
  border: solid black 5px;
  width:1510px;
  height:710px;
  float:left;
  margin-left:150px;
  margin-top: 30px;
}
